@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../assets/fonts/openSans/OpenSans-Regular.woff2");
}

@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../assets/fonts/redHatDisplay/RedHatDisplay-Regular.woff2");
}