$dark-grey: #2a2b2a;
$dark-green: #303931;
$bulkas-green: #3e4e40;
$bulka-light-green: #546956;
$bulkas-grey: #a6a6a6;
$background: #e4ebec;

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../assets/fonts" !default;
$icon-search: "\e986";
$icon-circle-up: "\ea41";


$header-bg: #F9FBF9;
$first-color: rgba(0, 128, 95, 1);
$second-color: #BFD200;
$dark-red: #D22E2E;