$dark-grey: #2a2b2a;
$dark-green: #303931;
$bulkas-green: #3e4e40;
$bulka-light-green: #546956;
$bulkas-grey: #a6a6a6;
$background: #e4ebec;

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../assets/fonts" !default;
$icon-circle-up: "\ea41";
$icon-facebook: "\ea90";
$icon-instagram: "\ea92";
$icon-pinterest2: "\ead2";