.gallery{
    margin: 40px 0px 0px 0px;
    display: none;
    align-items: center;
    justify-content: center;
    .container{
        padding: 0px 15px;
        img{
            cursor: pointer;
        }
        h1{
            margin-bottom: 10px;
            font-family: 'Red Hat Display';
            font-weight: normal;
            font-size: 25px;
            text-align: center;
        }
    }
   
}

@media (max-width: 575px) {
    .gallery{
        margin: 15px 0px 0px 0px;
        .container {
            padding: 0px 5px;
            h1 {
                font-size: 20px;
            }
        }
    }
}